body, html
{
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
}

#about {
	height: 100%;
	width: 100%;
    background: url("../img/background-about.jpg");
    background-size: 100% 100%;
	box-sizing: border-box;
}

#about h1, p
{
	color:black;
}

#about .container {
	background: red;
	width: 100%;
}

#about .title-container
{
	box-sizing: border-box;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
}
#about .left-side
{
	background-color: pink;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
}

#about .right-side
{
	width: 70%;
}

#about .desc
{
	text-align: justify;
}

/*
*slider
*/

#about .slider-container
{
	position: relative;
	height: 380px;
	top: 0;
	left: 0;
	transition: all 1s;
}

#about .slider-part
{
	width: 100%;
	height: 50%;
	padding: 30px;
	box-sizing: border-box;
	justify-content: center;
}
#about .slider-window
{
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 10px;
}

#about .slider-member
{
	float: left;
	height: 100%;
	background-color: blue;
	box-sizing: border-box;
	display: flex;
	height: 100%;
}

#about .slider-nav
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#about .buttons
{
	display: flex;
	justify-content: center;
}

#about .buttons>div>label, .move-left, .move-right
{
	cursor: pointer;
	margin: 3px;
	color: #152D54;
	opacity: 0.6;
}

#about .move-left, .move-right
{
	opacity: 0;
}

#about .slider-window:hover .move-left, .slider-window:hover .move-right
{
	opacity: 0.6;
	color: white;
}

#about .slider-window:hover .buttons>div>label
{
	color: white;
}

#about .slider-window:hover .slider-nav
{
	background-color: rgba(0,0,0,0.7);
}

#about .sliderbutton
{
	display: none;
}

#about .buttons>div>label>:last-child
{
	display: none;
}

#about .sliderbutton:checked~label>:first-child
{
	display: none;
}
#about .sliderbutton:checked~label>:last-child
{
	display: inline;
}