#member {
    background-color: blue;
}

#member #title{
	display: flex;
    justify-content:center;
    align-items:center;
	background-color: red;
	width: 100%;
	height: 10%;
}

#member #container{
	height: 90%;
	width: 100%;
}

#member .partial-container{
	float:left;
	width: 50%;
	height: 100%;
}

#member #left-container{
	background-color: yellow;
}
#member #right-container{
	display: flex;
    justify-content:center;
    align-items:center;
}

#member .side-in{
	display: flex;
    justify-content:center;
    align-items:center;
	background-color: white;
	height: 10%;
	width: 100%;
}
#member #center-in{
	width: 100%;
	height: 80%;
	background-color: gold;	
}

#member #frame{
	width: 90%;
	height: 90%;
    background-color: black;
    position: relative;
}
#member #medsos{
	width: 100%;
	height: 15%;
	position: absolute;
	top: 85%;
	background-color: green;
	transform:translateY(-50%);
}
